<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hirogakatageri.overlay">

    <application>

        <activity android:name="com.hirogakatageri.overlay.sample.SampleBackgroundActivity" />

        <activity android:name="com.hirogakatageri.overlay.sample.SampleOverlayActivity" />
    </application>

</manifest>
